<div class="wrapper" style="margin-top:15px">
  <div class="container" >
    <div class="columns is-centered">
        <div class="box column is-one-third">
  
            <h1 class="title  has-text-centered">
              Typing Challenge
            </h1>
    
            <p class="has-text-centered">
              {{ randomText }}
            </p>
    
            <div class="box" style="margin-top:15px">
              <!-- <input class="input" (input)="onInput($event)">  -->
              <input class="input" (input)="onInput($event?.target)"> 
            </div>  
  
            <div 
            class="field has-text-centered" 
            *ngIf="enteredText === randomText"
            style="color:green"
            >
              <h2>Success!</h2>
            </div> 
  
          </div>
      </div>
  </div>
</div>